# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# Node / Next.js
node_modules/
.next/
out/
.DS_Store
.env.local
.env.*.local

# Vercel
.vercel

# IDE
.vscode/
.idea/

# Logs
*.log

# TS build cache
*.tsbuildinfo
