NEXT_PUBLIC_SUPABASE_URL=https://bjutnhbpinozquvmpfsk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqdXRuaGJwaW5venF1dm1wZnNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNzc3OTUsImV4cCI6MjA4OTc1Mzc5NX0.KOSn8BH86uYgV807M4CkGRvyUqYtLlzkt8XSlVU0G3Q
